/* --- 2.1 CSS Reset --- */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---------------------------- */
/* Remove list bullets entirely */
/* ---------------------------- */

ul,
ol {
    list-style: none;
}